#!/usr/bin/perl
use warnings;
use strict;
my $seq ="AGACAAGTCGGACGTTTCATCTGAGGGTTCTTCTGCCTCCGCACTTGGTGCACATCAGACAAGGCAATCA
TGGGGGACGCTCAGATGGCAGAGTTTGGAGCAGCAGCTTCTTACCTGCGAAAGTCAGATCGAGAGCGTCT
GGAAGCACAAACCCGTCCCTTTGATATGAAAAAGGAGTGTTTTGTGCCTGATCCAGATGAAGAGTATGTA
AAAGCTTCAATCGTCAGTCGTGAAGGTGACAAAGTCACTGTACAGACTGAGAAAAGAAAGACTGTAACTG
TAAAGGAAGCTGACATTCACCCCCAGAACCCTCCAAAGTTTGATAAAATTGAAGACATGGCAATGTTCAC
CTTCCTTCATGAGCCAGCCGTGCTGTTCAACCTCAAAGAGCGCTATGCAGCATGGATGATCTATACCTAC
TCAGGACTGTTTTGTGTCACTGTCAACCCCTACAAGTGGCTGCCGGTGTACAATCAGGAGGTGGTTGTAG
CCTATAGAGGGAAAAAGAGGAGTGAAGCTCCTCCCCACATCTTTTCCATCTCTGATAACGCCTATCAGTA
CATGCTAACAGACAGGGAAAATCAGTCAATTCTGATCACTGGAGAATCGGGTGCAGGAAAGACTGTGAAC
ACAAAGAGAGTCATTCAGTATTTTGCAAGTATTGCAGCTGGTGGCTCAGCAAAGAAAGAAGGGGCAGAAA
AAAAGGGAACCCTGGAGGATCAAATCATCCAGGCTAACCCTGCTTTGGAAGCTTTTGGCAATGCAAAGAC
CATCAGAAATGACAACTCCTCAAGATTTGGAAAATTCATCCGAATTCATTTTGGTGCCAGTGGAAAGTTG
GCATCAGCTGACATTGAAACATATCTTCTGGAGAAGTCAAGGGTGACTTTTCAGCTTAAAGCTGAAAGGG
ACTATCATATTTTCTACCAAATCCTCTCTCAGCGGAAACCTGAGCTGCTGGAGATGCTGCTCATCACCAA
CAACCCCTATGACTACGCTTACATCTCCCAAGGAGAAACAACCGTAGCTTCAATTAATGATGGTGAAGAA
TTGCTTGCCACTGATGAAGCGTTTGATGTACTAGGCTTCACTCAGGAGGAGAAAAATGGCATCTATAAAT
TGATTGGAGCCATTATGCACTTTGGCAATATGAAGTTCAAACAGAAGCAGAGGGAGGAGCAAGCAGAGGC
TGATGGAACTGAAGATGGAGACAAAGTCGCATATCTGATGGGCCTAAACTCTGCTGACCTTATCAAGGGT
CTGTGCCACCCAAGAGTCAAAGTAGGAAATGAGTGGGTCACCAAAGGACAAAATGTCCAGCAGGTGTACT
ACGCTATTGGTGCACTAGCCAAGTCAGTGTATGAAAAGATGTTCCTTTGGATGGTTGTAAGAATCAATCA
GTCTCTAGACACCAAACAACCACGCCAATACTTCATTGGAGTGCTGGACATTGCTGGCTTTGAGATCTTT
GATTTTAACACCTTTGAGCAACTCTGCATCAACTTTACCAATGAGAAACTGCAACAGTTTTTCAACCACC
ACATGTTTGTGCTGGAACAAGAGGAGTACAAGAAAGAAGGGATTGAATGGGAGTTTATTGACTTTGGCAT
GGACTTGCAGGCCTGCATCGATCTCATTGAGAAACCTATGGGCATCATGTCCATCCTTGAAGAGGAGTGC
ATGTTTCCCAAAGCAAGTGATTCAACCTTTAAAGCAAAGCTTTATGACAACCATCTTGGGAAATCAAATA
ACTTCCAGAAACCAAGAGCAATCAAAGGGAAGCCAGAGTCTCATTTTTCTCTGGTCCACTATGCTGGTAC
AGTTGACTATAATATCAACAACTGGCTGGTGAAGAACAAAGACCCATTAAATGAGACTGTGGTGGGACTC
TTTCAAAAGTCTACAGTCAAACTTCTGTCAATGCTCTTTGCTAACTATGCAGGGACAGAATCAGATAATG
GTAAGGGAGGTAAAGGAGGTGGAAGTAAGAAGAAGGGCTCCTCCTTCCAGACTGTGTCTGCACTCCACAG
GGAAAACTTAAATAAGTTAATGACAAACCTAAGGTCAACTCACCCTCATTTTGTGCGCTGCATCATTCCT
AATGAGACAAAGACTCCTGGTGCAATGGAGAATCCTTTGGTCATGCATCAGCTGCGCTGTAATGGTGTGC
TGGAGGGCATCAGGATTTGCAGGAAGGGCTTCCCCAACAGAATCCTCTATGGGGACTTCAAACAGAGGTA
CCGAATCCTAAATCCTGCAGCCATACCTGAAGGTCAGTTCATAGACAGCAGGAAAGGAGCAGAGAAACTG
TTGGGTTCACTGGATATTGATCACAATCAATATAAATTTGGACACACAAAGGTGTTCTTCAAGGCTGGTT
TACTCGGTCAGCTTGAAGAAATGAGAGATGACAGACTATCTCTAATTATTTCTGGAATTCAGGCAAGATC
CAGAGGACTTCTTGCAAGGGTTGAGTTCCAAAAGATAGTTGAAAGAAGGGATGCCCTACTGGTTATCCAG
TGGAATGTCCGTGCCTTCATGGGGGTGAAAAATTGGCCCTGGATGAAGCTTTTCTTCAAGATAAAACCTC
TTCTCAAGTCAGCAGAAGCAGAGAAAGAGATGGCAAATATGAAAGATGAATTTGCCAAGCTCAAAGAGGC
TTATGCTAAATCCGAAGCGAGAAGGAAAGAGCTAGAAGAAAAAATGGTGTCTCTTCTCCAAGAGAAGAAT
GACCTACAACTTCAAGTTCAAGCGGAGCAAGACAATCTCTGTGATGCAGAGGAACGATGTGACCAGCTCA
TCAAAAACAAGATTCAGCTTGAGGCTAAAGCCAAAGAGCTCACCGAGCGACTTGAGGATGAGGAGGAGAT
GAATGCAGAGCTGACAGCTAAGAAGAGAAAGCTGGAGGACGAATGCTCTGAGCTGAAGAAGGATATTGAT
GATCTGGAGCTCACTCTGGCTAAAGTCGAGAAAGAGAAGCATGCTACTGAGAACAAGGTAAAGAACCTGA
CAGAAGAAATGGCAGCTTTGGACGACATAATCGCAAAGCTGACCAAAGAGAAGAAAGCCTTGCAAGAAGC
TCATCAGCAGACACTGGATGACCTGCAGAGTGAGGAGGACAAAGTCAACACCCTCACCAAGGCAAAAGCA
AAGCTAGAGCAACAAGTAGATGATCTGGAAGGATCTCTTGAGCAAGAAAAGAAGCTCCGCATGGATCTAG
AAAGAGCCAAGAGGAAACTAGAAGGAGACTTGAAATTAACCCAGGAAAGCCTAATGGACCTGGAAAATGA
CAAGCAGCAGTTAGAGGAGCGTCTAAAAAAGAAAGACTTTGAAATCAGTCAGCTCAATGGGAAAATCGAA
GACGAACAAACTATTTGCATTCAGCTGCAGAAAAAACTGAAGGAACTTCAGGCACGTATTGAGGAGCTGG
AGGAAGAGCTTGAGGCAGAAAGAGCTGCTAGAGCCAAAGTGGAGAAACAGAGAGCAGATTTAGCCAGAGA
GCTGGAGGAGATCAGCGAGAGACTGGAGGAGGCTGGAGGAGCTACAGCTGCTCAGATTGAGATGAATAAG
AAACGAGAGGCAGAGTTTCAGAAGCTCCGCAGAGACCTTGAAGAGGCCACTCTGCAGCATGAGGCCACTG
CCGCCACACTCAGGAAAAAACAAGCCGACAGTGTGGCTGAACTTGGAGAGCAGATAGACAATCTGCAGAG
GGTCAAGCAAAAACTGGAGAAGGAGAAAAGTGAACTTAGGCTGGAGTTGGATGATGTAGTCTCAAACATG
GAACATGTTGTAAAGACAAAGGCAAATCTTGAGAAGATGACCAGATCTTTAGAAGACCAAATGAATGAAT
ATAAAACAAAATATGAGGAAGGTCAGCGCTGCATTAATGACTTCACAATGCAGAAATCTAAACTACAATC
TGAAAATGGTGAACTTTCAAGACAGCTGGAGGAAAAGGACTCTCTTGTCTCCCAGCTAACCAGAAGCAAG
ATGTCTTACACTCAGCAAATTGAAGATCTTAAAAGACAACTGGAGGAGGAAACAAAGGCAAAAAGCGCTC
TCGCCCATGCTGTACAGTCAGCCCGTCATGACACAGATCTGCTTAGAGAGCAGTATGAGGAGGAGCAGGA
AGCTAAAGCAGAGCTACAGCGAGGCATGTCCAAAGCTAATTCTGAGGTGGCACAGTGGAGAACCAAGTAC
GAAACTGATGCCATCCAGAGAACTGAAGAACTGGAGGAAGCCAAAAAGAAACTGGCTCAACGCTTACAGG
AAACCGAAGAAGCTGTTGAAGCAGTAAATGCAAAGTGTTCATCTCTTGAAAAGACCAAACACAGACTCCA
AAATGAGATTGAAGATCTTATGGTGGACCTGGAGAGGTCTAATGCGGCTGCTGCAGCCTTAGACAAAAAG
CAAAGAAACTTTGATAAGGTACTGTCTGAGTGGAAGCAGAAGTTTGAAGAGTCGCAAGCCGAGTTAGAGA
GCTCTCAGAAAGAAGCAAGATGTCTTAGCACTGAACTTTTCAAGCTGAAGAACTCCTATGAGGAAGCTTT
AGATCACCTGGAGACCATGAAGAGAGAAAATAAAAATCTCCAAGAGGAGATTTCTGATCTCACCGAGCAA
CTTGGTGAGGGAGGAAAGAGCATCCATGAGCTGGAGAAAATGAGGAAACAGTTGGAGCAAGAAAAAAGTG
AGATTCAATCTGCTCTGGAAGAGGCAGAGGCATCACTGGAGCACGAGGAGGGTAAGATTCTGCGAGCCCA
GCTGGAGTTCAGCCAAATTAAGGCTGATATCGAGCGCAAACTAGCCGAGAAGGATGAAGAGATGGAGCAG
AGCAAACGCAATTTGCAGAGGACCATTGACACTCTGCAAAGCTCCTTGGAGTCAGAAACCAGAAGCAGAA
ATGAGGCCCTCAGAATAAAAAAGAAGATGGAGGGCGACCTGAATGAGATGGAGATCCAGCTTAGTCAGGC
AAACCGACAAGCAGCAGAGGCCCAAAAACAACTTAAGAGTGTGCATGCACATATGAAAGATGCTCAGCTT
CAGCTGGACGACTCCCTGAGAACAAATGAAGATCTTAAGGAGAACACAGCCATTGTAGAGAGACGCAACA
ACCTTCTGCAGGCTGAACTAGAGGAACTCAGAGCAGCTCTTGAGCAAACCGAAAGAGGCCGTAAGCTTGC
TGAGCAGGAGCTTCTGGATACCAGTGAAAGAGTACAGCTGCTGCACTCCCAGAACACAAGCCTGTTAAAT
CAGAAGAAGAAGCTGGAGACGGATATATCCCAGCTTCAGACAGAAGTGGAAGAGGCAGTGCAAGAATGCA
GGAATGCTGAGGAAAAAGCCAAGAAGGCCATCACTGATGCTGCCATGATGGCGGAGGAGCTGAAGAAGGA
GCAGGATACAAGTGCTCACCTGGAGAGGATGAAGAAGAACATGGAGCAGACCATTAAAGACCTGCAGCAT
CGCCTGGATGAAGCAGAACAAATCGCTATGAAGGGAGGCAAGAAACAAGTCCAGAAACTGGAGGCCAGGG
TGAGGGAGCTGGAGAGTGAAGTTGAATCAGAACAGAAGAAGAGCAGTGAGGCGGTGAAAGGAATCCGCAA
ATATGAGAGACGTATAAAAGAACTGACGTATCAGACTGAGGAGGACCGCAAGAATCTGGCTCGTCTGCAA
GATCTGGTTGACAAGCTTCAGCTAAAGGTTAAAGCTTACAAGAGGGCTGCAGAGGAAGCTGAGGAACAAG
CCAACACTAATCTTAGCAAGTTCCGGAAAATCCAGCATGAGCTTGATGAGGCAGAAGAAAGAGCTGACAT
TGCAGAGTCACAAGTCAATAAGCTACGTGCCAAAAGTCGTGATGTCAGTTCTAAGAAGGGACATGATCAA
GAGTAAAGCTCAAGTGGATTTTCTGTGTCTCCGTTATGCTGAATTAGTTTTGTTTTCAGCCTATCTTGCA
TTTCTTCGGTCACTTAGTAGAATAAAGTTGAATTGCATTAA";
$seq =~ s/\s+//g;
my $len = length $seq;
my $codon= int($len/3);
print "The sequence is of length $len bp and there are $codon codons.   \n";
my $UTR5=index($seq, "ATG");
my $start=$UTR5+1;
my $cds_u3=substr($seq, $UTR5);
for (my $i=0; $i<$len;$i=$i+3){
if(substr($cds_u3,$i,3)eq"TAA"){
my $k=$i+$start;
my $UTR3=$len-$i-$UTR5-3;
my $cds=$i;
my $pro=$cds/3;
print"The first start codon begins at basepair $start, and the in-frame stop codon is at basepair $k. \n";
print"The 5' UTR is $UTR5 bp long and the 3' UTR is $UTR3 bp long. \n"; 
print"The CDS length is $cds bp and the predicted protein length is $pro. \n";
last}
}
